* {
  background-color: #3691f9;
}

#my-title {
  text-align: center;
}

#my-textbox {
  background-color: #e0e0e0;
}

.todo-item {
  padding-top: 10px;
}

.todo-remove {
  background-color: #e0e0e0;
  border-radius: 12px;
}

.template {
  display: none;
}

@media only screen and (min-width: 30em) {
  .todo-text { width: 60.0%; }
  .todo-remove {width: 40.0%; }
  .center-buffer {width: 30.0%; }
  .text-input {width: 40.0%; }
}
